<!DOCTYPE html>
<html lang="en" ng-app="foodFinder">
	<head>
		<title> Vegetarian Food Finder </title>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-route.js"></script>
		<script type="text/javascript" src="main.js"></script>
		
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="login-content" ng-controller="loginController">
			<div class="header-name">
				<h1> Vegetarian Food Finder </h1>
			</div>
			
			<form class="loginForm" name="Form" novalidate>
				<input type="email" placeholder="Email Address" name="email" ng-model="email" required><br>
				<span class="validationError" ng-show="Form.email.$dirty && Form.email.$invalid">
					<span ng-show="Form.email.$error.required">Email is required.</span>
					<span ng-show="Form.email.$error.email">Enter a Valid email address.</span>
				</span>
				<br><br>
				<input type="password" placeholder="Password" name="password" ng-model="password" required><br>
				<span class="validationError" ng-show="Form.password.$dirty && Form.password.$invalid">
					<span ng-show="Form.password.$error.required">Password is required.</span>
				</span>
				<br><br>
				<button type="button" ng-disabled="Form.$invalid">Submit</button>
			</form>
		</div>
	</body>
</html>