body{
	background-image: url(1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header-name{
	text-align: center;
	text-decoration: underline;
	padding-top: 90px;
	color: #0F110C;
}
@media screen and (max-width: 720px){
	.header-name{
		padding-top: 20px;
	}
}

.loginForm{
	text-align: center;
}

.loginForm input{
	font-weight: 800;
	height: 30px;
	width: 300px;
}

.loginForm button{
	height: 40px;
	width: 70px;
	font-weight: 800;
}

.validationError{
	color: red;
	font-size: 25px;
	font-weight: 900;
}

.main-content{
	text-align: center;
}

.main-content h1{
	text-decoration: underline;
	padding-top: 20px;
	padding-bottom: 50px;
}

.list{
	display: inline-block;
	color: #272932;
	margin: 20px;
	font-size: 25px;
	font-weight: 900;
	list-style: none;
}

.main-content input{
	float: right;
	margin-right: 20px;
}

.restaurant-name{
	color: #000;
	text-decoration: none;
}

.restaurant-name:hover{
	color: #42F2F7;
}

.restaurant-name:active{
	color: #42F2F7;
}

.restaurant-location{
	color: #000;
	text-align: center;
}

.restaurant-rating{
	color: #000;
}

.details-list{
	text-align: justify;
	list-style: none;
	padding-top: 20px;
	font-size: 25px;
	font-weight: 800;
	margin: 0 auto;
}

.details-list li{
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 100px;
}
@media screen and (max-width: 720px) {
    .details-list li {
					text-align: left;
					padding-left: 2px;
					padding-right: 15px;
    }
}