.header-name{
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.loginForm{
	text-align: center;
}

.loginForm input{
	height: 30px;
	width: 300px;
}

.loginForm button{
	height: 40px;
	width: 70px;
	font-weight: 800;
}

.validationError{
	color: red;
}