body{
	background-image: url(1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header-name{
	text-align: center;
	text-decoration: underline;
	padding-top: 90px;
	color: #D9D9D9;
}

.loginForm{
	text-align: center;
}

.loginForm input{
	height: 30px;
	width: 300px;
}

.loginForm button{
	height: 40px;
	width: 70px;
	font-weight: 800;
}

.validationError{
	color: red;
	font-size: 25px;
	font-weight: 900;
}
